<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.store.domain.repository.ItemMapper">

    <!-- マッピング定義 -->
    <resultMap type="com.example.demo.login.domain.model.User" id="item">
        <id column="item_name" property="itemId" />
        <result column="item_id" property="itemName" />
        <result column="item_category" property="itemCategory" />
        <result column="price" property="price" />
        <result column="stock_s" property="stockS" />
        <result column="stock_m" property="stockM" />
        <result column="stock_l" property="stockL" />
        <result column="description" property="description" />
        <result column="features" property="features" />
    </resultMap>

    <!-- カテゴリー毎の全商品を取得   -->
    <select id="selectCategoryItems" resultMap="item">
    SELECT
      item_name,
      price,
    FROM
      item
    WHERE
      item_category = #{itemCategory}
    </select>

    <!-- TODO 対象カテゴリーの商品数 -->

</mapper>
