body {
    font-family: 'Roboto', 'Noto', sans-serif;
}

.categories {
    margin-bottom: 20px;
}

.full_width {
    max-width: 1440px;
}

.half_width {
    max-width: 720px;
}

.categories_img {
    height: 320px;
    width: 720px;
    object-fit: cover;
}

.padding-zero {
    padding: 0;
}

.item {
    margin-bottom: 40px;
}

.item-title {
    margin: 32px auto 32px auto;
}

.home-link {
    text-decoration: none;
    color: black;
    font-size: 26px;
    letter-spacing: 0.2em;
    pointer-events: auto;
    font-weight: 500;
}

a:link, a:visited, a:hover, a:active {
    color: black;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    display: block;
    top: 50px;
    bottom: 0;
    background-color: #F4F5F7;
}

.main {
    padding-top: 50px;
    padding-left: 20px;
    position: fixed;
    display: block;
    top: 0px;
    bottom: 0;
}

.page-header {
    margin-top: 0px;
}

.margin-zero {
    margin: 0 0 0 0;
}

.category-title {
    font-weight: 500;
    margin-top: 20px;
}

.category-item-counter {
    color: rgb(117, 117, 117);
    font-size: 12px;
}
