<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
</head>
<body>
<!-- ポイント：th:fragment -->
<div th:fragment="category_contents">
    <!-- Men's Outerwear -->
    <div class="container full_width">
        <div class="row">
            <img class="img-fluid" alt="@{title}" th:src="@{/img/mens_outerwear.jpg}"
                 style="opacity: 1; transition: opacity 0.5s ease 0s;">
        </div>
    </div>
    <div class="row justify-content-center category-title">
        <p class="margin-zero" th:text="${title}">Category Name</p>
    </div>
    <div class="row justify-content-center">
        <p class="category-item-counter" th:text="'(' + ${totalCategoryItems} + ' Items)'">Nothing Items</p>
    </div>

</div>
</body>
</html>
