<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"></meta>
</head>
<body>
<!-- ポイント：th:fragment -->
<div th:fragment="item_contents">
    <div class="page-header">
        <p th:text="${item.itemId}">????????</p>
        <p th:text="${item.price}">????????</p>
        <p th:text="${item.description}">????????</p>
        <p th:text="${item.features}">????????</p>
    </div>
</div>
</body>
</html>
